<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <title>Astro</title>
  </head>

  <body>
    <main>
      <section class="meta-container">
        <div class="meta-copy">
          <div class="meta-heading">
            <h1>Maliks rejse fra fisketrawl til flue</h1>
          </div>
          <div class="meta-sub metaBody">
            <p>
              Læs om Maliks kamp for at bryde ud af skadelige mønstre og hvordan
              Arctic Flyfishing arbejder for at forbedre arbejdsmulighederne for
              den unge grønlandske befolkning.
            </p>
          </div>
        </div>
        <div class="CTAer">
          <button class="primary">
            <a href="/tester" class="label">Læs Maliks historie</a>
          </button>
          <button class="secondary">
            <a href="/" class="labelS">Tilbage til forside</a>
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
<style>
  @font-face {
    font-family: "Switzer";
    src: url("/Switzer-Variable.ttf");
  }
  main {
    background-color: #000e38;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: Switzer;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #ffffff;
    max-width: 64ch;
    margin: auto;
    text-align: center;
  }

  .meta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 24px;
  }

  .meta-copy {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 24px;
  }
  .metaBody {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.36rem;
    max-width: 64ch;
    margin: auto;
    padding-bottom: 16px;
    text-align: center;
  }

  .CTAer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
  }

  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  .primary {
    background-color: #ff5000;
    min-width: 135px;
    border-radius: 1.25rem;
    height: 40px;
    padding: 0px 20px;
    font-family: Switzer;
  }

  .primary:hover {
    background-color: #db3600;
  }
  .secondary {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    min-width: 135px;
    border-radius: 1.25rem;
    height: 40px;
    padding: 0px 20px;
    font-family: Switzer;
  }

  .label {
    color: white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
  }

  .labelS {
    color: #001040;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
  }
  a {
    text-decoration: none;
  }
  @media (min-width: 800px) {
    main {
      background-color: #000e38;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-family: Switzer;
      font-weight: 700;
      font-style: normal;
      font-size: 3rem;
      color: #ffffff;
      max-width: 64ch;
      margin: auto;
    }

    .meta-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .meta-copy {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
      align-items: center;
      margin: 0 24px 0 24px;
    }
    .metaBody {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.36rem;
      max-width: 64ch;
      margin: auto;
      padding-bottom: 16px;
      text-align: center;
    }

    .CTAer {
      display: flex;
      flex-direction: row;
      gap: 16px;
      padding-top: 48px;
    }

    button {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
    }

    .primary {
      background-color: #ff5000;
      min-width: 135px;
      border-radius: 1.25rem;
      height: 40px;
      padding: 0px 20px;
    }

    .primary:hover {
      background-color: #db3600;
    }
    .secondary {
      background-color: #ffffff;
      border: 2px solid #ffffff;
      min-width: 135px;
      border-radius: 1.25rem;
      height: 40px;
      padding: 0px 20px;
    }

    .label {
      color: white;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
    }

    .labelS {
      color: #001040;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
    }
    a {
      text-decoration: none;
    }
  }
</style>
