---
import { Image } from "astro:assets";
import citat3 from "../assets/images/citat3.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <title>Astro</title>
  </head>
  <body>
    <section class="scroll-animation-container">
      <div class="sticky-relative-content-container section-13"></div>

      <div class="sticky-div">
        <svg
          id="svg13"
          class="svg"
          xmlns="http://www.w3.org/2000/svg"
          width="370"
          height="497"
          viewBox="0 0 370 497"
          fill="none"
        >
          <path
            class="theline"
            d="M11.8525 123.172C12.035 124.632 13.5275 125.907 14.0368 127.322C15.3607 130.999 15.7843 134.535 15.7843 138.462C15.7843 146.103 13.7244 153.158 11.4156 160.415C10.5403 163.166 9.19941 166.209 10.105 169.152C11.049 172.22 13.1327 176.679 15.8389 178.709C25.2062 185.734 12.8354 201.652 12.8354 209.726C12.8354 217.939 18.7433 225.588 21.682 232.935C26.8544 245.866 27.449 262.585 27.5797 276.185C27.6761 286.208 28.3448 297.671 25.5592 307.421C25.0623 309.16 22.9476 309.607 22.6104 311.462C21.9048 315.343 16.8358 319.394 13.873 321.51C12.1122 322.768 4.62779 325.251 5.19022 328.063C5.80423 331.133 7.89857 333.266 9.66813 335.708C15.06 343.149 21.5072 350.567 24.9039 359.19C26.3217 362.789 24.8135 365.44 24.6309 368.91C24.4967 371.46 24.955 374.837 24.4124 377.211C23.0207 383.3 26.3288 388.164 25.5046 394.139C24.7209 399.821 20.7623 409.729 16.9857 414.345C11.2022 421.413 16.8556 431.249 17.6956 438.809C18.4708 445.786 20.7341 450.755 24.1394 456.885C25.5274 459.383 23.7468 464.683 25.0677 468.079C26.174 470.924 26.6718 474.473 28.7811 476.817C32.6398 481.104 35.4213 477.112 38.9383 476.107C48.4956 473.376 60.7914 479.984 70.6113 479.984C75.8682 479.984 78.6785 478.305 83.5535 476.598C90.8058 474.06 97.9765 473.249 105.561 472.339C114.166 471.306 123.887 476.874 132.756 477.035C144.058 477.241 155.729 477.504 166.995 478.51C175.617 479.279 184.441 479.984 193.098 479.984C195.818 479.984 196.656 477.969 198.614 476.817C200.595 475.652 202.001 473.947 204.512 474.086C208.308 474.297 209.628 479.875 214.232 479.875C217.005 479.875 217.427 476.169 220.457 476.052C229.902 475.689 238.842 479.58 247.98 481.513C256.911 483.402 263.674 484.785 272.281 481.404C281.748 477.685 290.741 476.536 301.059 477.254C313.939 478.15 325.438 478.702 337.647 474.632C355.466 468.693 355.651 447.076 357.634 430.618C358.668 422.036 358.641 413.375 360.037 404.843C360.789 400.243 360.925 396.872 359.818 392.447C358.947 388.963 356.832 385.653 355.34 382.399C349.272 369.158 352.191 355.038 356.869 342.043C358.199 338.35 361.935 330.632 360.583 326.425C359.374 322.664 356.443 318.064 355.941 314.302C354.722 305.157 354.904 295.991 354.904 286.779C354.904 280.361 354.873 274.031 353.921 267.666C352.719 259.632 349.497 252.383 347.586 244.566C344.877 233.485 340.477 222.856 339.176 211.474C338.782 208.023 336.585 201.936 339.176 198.859C340.173 197.675 340.427 196.285 341.142 194.927C344.751 188.071 350.504 181.981 354.74 175.487C356.426 172.9 358.671 167.536 361.293 165.439C362.204 164.709 361.385 163.558 362.003 162.708C364.213 159.669 365.442 152.846 366.481 149.165C368.471 142.108 368.893 135.212 368.61 127.868C368.309 120.027 368.206 111.304 365.934 103.731C364.084 97.5639 365.165 91.0618 364.242 84.7818C362.376 72.0939 364.785 59.173 362.549 46.5012C361.545 40.8116 360.802 33.7755 363.259 28.3711C364.536 25.5616 369.77 16.1824 367.464 13.2992C366.268 11.8047 365.735 9.37378 364.733 7.61988C362.457 3.63714 358.16 3.08201 353.921 1.72216C351.809 1.04482 349.424 1.23546 347.258 1.50372C327.796 3.91501 308.309 8.18675 289.482 13.6268C278.025 16.9377 266.868 20.6644 255.079 22.6919C251.62 23.2867 247.704 24.9283 245.25 22.4734C237.119 14.343 226.679 15.7425 215.433 15.2651C188.116 14.1054 161.307 12.6426 134.23 9.14892C130.355 8.64894 126.451 8.02062 122.926 6.41849C113.791 2.26588 103.575 3.34998 94.0384 1.23068C91.1374 0.586014 91.1052 1.3611 87.6492 2.70511C84.9957 3.73702 81.4847 3.30386 78.6934 3.2512C74.8944 3.17952 71.2579 2.26824 67.444 2.26824C63.9762 2.26824 61.9388 4.31703 58.5974 5.27171C52.4608 7.02504 44.7594 4.20901 37.8462 5.98163C28.6868 8.33019 19.5978 12.9066 11.0333 16.9033C8.08907 18.2773 5.44089 19.6829 3.22432 22.1458C-1.41897 27.305 2.22292 34.2639 4.97179 39.0744C8.92916 45.9998 12.7027 52.6361 14.8013 60.6994C17.2098 69.953 19.6766 80.0564 18.2963 89.642C16.0718 105.09 9.8218 119.654 7.42918 134.967C5.7236 145.883 8.24264 154.43 12.3439 164.456C15.1982 171.433 17.4836 178.619 20.2076 185.644C23.5973 194.386 22.072 199.578 18.5147 207.924C15.5488 214.883 12.8086 221.542 10.378 228.348C8.85162 232.622 11.4712 239.259 12.2893 243.584C13.4429 249.681 11.6307 256.075 10.105 261.987C7.80409 270.903 7.04725 285.206 10.3234 293.878C11.8329 297.874 13.4328 302.692 15.7843 306.22C16.8384 307.801 18.7964 308.87 19.7161 310.479C22.2637 314.937 24.7431 320.232 20.4806 325.442C11.553 336.353 30.2562 346.793 23.1564 359.572C20.5922 364.188 18.6331 369.25 15.7843 373.607C10.4088 381.828 12.215 391.646 10.8149 400.747C9.79852 407.354 11.0017 413.526 9.66813 420.461C8.2511 427.829 7.92065 434.134 7.92065 441.649C7.92065 445.101 9.14745 440.027 9.88656 438.918C11.4998 436.499 11.896 442.317 12.3439 443.123C14.6342 447.246 16.3317 457.347 13.8184 461.745C11.7086 465.437 8.81119 467.385 7.70222 471.574C6.68048 475.434 4.97179 479.456 4.97179 483.534C4.97179 486.024 4.9128 494.758 3.00588 495.711"
            stroke="#FF5000"
            stroke-width="2"
            stroke-linecap="round"></path>
        </svg>

        <video autoplay loop muted playsinline class="video">
          <source src="/public/image/facevideo.mp4" />
        </video>
      </div>
      <Image src={citat3} alt="citat" />
    </section>
  </body>
</html>

<script>
  import { gsap, ScrollTrigger, DrawSVGPlugin } from "gsap-trial/all";
  gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

  gsap.defaults({ ease: "none" });

  function createAnimation(svgId) {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: `#${svgId}`,
        scrub: true,
        start: "top center",
        end: "bottom center",
      },
    });
    tl.from(`#${svgId} .theline`, { drawSVG: 0, duration: 4 }, 0);
    return tl;
  }

  createAnimation("svg1");
  createAnimation("svg2");
  createAnimation("svg3");
  createAnimation("svg4");
  createAnimation("svg5");
  createAnimation("svg6");
  createAnimation("svg7");
  createAnimation("svg8");
  createAnimation("svg9");
  createAnimation("svg10");
  createAnimation("svg11");
  createAnimation("svg12");
  createAnimation("svg13");
  createAnimation("svg14");
  createAnimation("svg15");
</script>

<style>
  /* CSS-stilarter */
  .scroll-animation-container {
    background-color: #000e38;
    position: relative;
    font-size: 16px;
    height: 100vh; /* Sæt til 100vh for at demonstrere sticky */
    overflow: auto; /* Tilføj overflow for at tillade scrolling inden i containeren */
  }

  .sticky-relative-content-container {
    height: 150vh; /* Højden af det scrollable indhold */
    padding: 20px;
  }

  .sticky-div {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 10px; /* Sticky div vil forblive 10px fra toppen af viewport */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
  }

  .svg {
    width: 100%;
    height: auto;
  }

  .video {
    width: 100%;
    height: auto;
  }
</style>
