---
---

<body>
  <main>
    <div class="scroll-aninamtioen-container simple">
      <div class="sticky-content-container sticky-element">
        <div class="svg-drawing">
          <object
            id="svg1"
            type="image/svg+xml"
            data="/public/"
            width="311"
            height="633"
          >
          </object>
        </div>
      </div>
    </div>
  </main>
</body>
<script>
  import { gsap, ScrollTrigger, DrawSVGPlugin } from "gsap-trial/all";
  gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

  gsap.defaults({ ease: "none" });

  function createAnimation(svgId) {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: `#${svgId}`,
        scrub: true,
        start: "top center",
        end: "bottom center",
      },
    });
    tl.from(`#${svgId} .theline`, { drawSVG: 0, duration: 4 }, 0);
    return tl;
  }

  function onSVGLoad(svgId) {
    const svgObject = document.getElementById(svgId);
    const svgDocument = svgObject.contentDocument;
    const path = svgDocument.querySelector("path");
    path.classList.add("theline");

    // Opret animation for det indlæste SVG
    createAnimation(svgId);
  }

  // Håndter indlæsning af SVG'er
  const svgObjects = document.querySelectorAll('object[type="image/svg+xml"]');
  svgObjects.forEach((svgObject) => {
    svgObject.addEventListener("load", () => {
      onSVGLoad(svgObject.id);
    });
  });
</script>

<style>
  .theline {
    max-width: 100%;
  }

  svg {
    max-width: 600px;
    overflow: visible;
    margin-top: 100vh;
  }
</style>
