---
---

<body>
  <main>
    <h1>Maliks historie</h1>
    <!--     <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 1200">
        <path
          class="theLine"
          d="M -5,0
               Q 450 230 300 450 
               T 130 750
               Q 100 850 300 1000
               T 150 1200"
          fill="none"
          stroke="black"
          stroke-width="10px"></path>
      </svg> -->

    <!--     <svg
        id="svg"
        xmlns="http://www.w3.org/2000/svg"
        width="897"
        height="1243"
        viewBox="0 0 897 1243"
        fill="none"
      >
        <path
          class="theLine"
          d="M855.649 2.08105C856.803 9.38771 861.695 14.0571 860.374 22.1289C857.618 38.969 842.563 55.0981 832.153 67.7155C805.085 100.526 777.666 136.916 743.79 162.975C699.29 197.205 645.582 229.673 593.111 249.04C569.776 257.653 544.776 262.533 520.326 266.406C482.186 272.448 443.442 278.699 404.891 281.474C340.836 286.086 278.006 265.283 213.606 277.388C189.184 281.979 164.556 285.267 140.055 289.391C129.448 291.177 118.52 290.991 108.004 293.094C100.543 294.587 94.1702 299.011 86.6791 300.373C72.0144 303.039 59.5307 301.015 46.5834 310.078C36.417 317.194 22.4095 321.491 14.4047 331.275C-21.4028 375.039 25.2039 409.794 66.2482 422.192C119.372 438.24 175.357 446.493 229.696 457.18C292.432 469.519 356.634 478.64 420.214 485.273C475.126 491.001 529.778 494.345 584.939 488.848C636.464 483.714 687.956 465.797 737.66 451.817C762.679 444.781 786.84 434.137 810.956 424.491C821.181 420.401 831.561 408.647 834.963 398.441C854.732 339.133 769.559 319.993 728.977 308.29C654.631 286.849 583.85 241.98 505.769 236.015C487.136 234.592 468.528 233.985 449.839 234.355C418.372 234.979 389.919 244.139 360.198 253.893C311.102 270.004 262.459 288.695 212.329 301.394C199.554 304.631 188.018 305.481 175.043 305.481C160.839 305.481 146.956 307.524 132.904 307.779C104.761 308.291 72.5216 305.797 47.0942 319.782C33.284 327.378 21.2014 336.473 13.1277 350.173C8.58318 357.885 6.04275 379.678 13.8939 386.438C41.4857 410.198 83.5371 419.609 117.581 428.577C165.316 441.151 215.414 456.358 264.939 457.18C318.261 458.065 371.027 466.063 424.301 466.374C471.643 466.651 518.817 466.619 566.04 462.799C607.573 459.44 649.794 458.076 691.18 453.477C719.98 450.277 749.118 442.474 777.245 435.983C797.558 431.296 816.46 413.358 834.58 403.166C854.448 391.99 825.039 355.746 814.021 348.896C807.008 344.537 802.133 344.35 800.613 335.233C798.624 323.295 779.75 314.301 770.094 310.205C722.928 290.195 674.115 282.448 623.375 280.07C560.271 277.112 497.092 271.392 434.005 267.556C354.186 262.702 268.977 245.793 189.983 266.023C137.578 279.444 89.6981 305.697 39.688 325.145C24.6785 330.982 24.8039 346.227 27.6848 361.155C31.7517 382.229 60.573 399.885 79.2729 406.358C95.0968 411.836 112.836 411.028 129.329 411.211C152.139 411.464 174.573 413.489 197.262 415.808C253.567 421.562 309.671 429.088 365.945 435.217C420.835 441.195 477.198 439.585 532.329 440.963C580.576 442.17 629.478 433.95 677.389 442.623C715.489 449.521 752.614 467.377 785.035 487.827C798.103 496.07 812.243 503.669 823.726 514.132C831.721 521.416 834.858 531.204 840.964 539.798C858.272 564.157 872.074 587.087 880.677 616.414C897.725 674.533 895.796 736.457 893.574 796.462C891.989 839.263 899.869 891.447 884.508 931.945C871.246 966.907 860.103 1003.22 847.732 1038.57C843.197 1051.53 833.142 1061.89 827.046 1074.32C816.691 1095.45 805.633 1116.44 794.739 1137.28C788.728 1148.78 785.159 1161.52 778.778 1172.77C769.442 1189.23 753.577 1201.26 739.065 1212.87C726.988 1222.53 714.904 1233.01 701.651 1240.96"
          stroke="#FF5000"
          stroke-width="3"
          stroke-linecap="round"></path>
      </svg> -->

    <svg
      id="svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 78 195"
      fill="none"
    >
      <path
        class="theline"
        d="M2.70571 192.979C2.70571 187.688 0.850538 178.204 2.99611 173.377C6.80635 164.804 25.0192 172.117 30.8747 166.262C34.7017 162.435 36.1366 156.495 41.6195 152.032C46.8759 147.754 74.1016 137.154 75.7417 131.414C77.6715 124.66 71.8953 113.168 66.5941 109.634C63.0507 107.271 -4.92576 75.1728 18.6778 62.2981C36.1765 52.7533 77.0923 64.2154 70.0789 36.1619C67.0691 24.1227 56.1682 13.5964 52.3644 2.18494"
        stroke="#FF5000"
        stroke-width="3"
        stroke-linecap="round"></path>
    </svg>
  </main>
  <script>
    import { gsap, ScrollTrigger, DrawSVGPlugin } from "gsap-trial/all";
    gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

    gsap.defaults({ ease: "none" });

    const main = gsap.timeline({
      scrollTrigger: {
        trigger: "#svg",
        scrub: true,
        start: "top center",
        end: "bottom center",
      },
    });

    main.from(".theline", { drawSVG: 0, duration: 4 }, 0);
  </script>
</body>

<style>
  .theline {
    max-width: 100%;
  }

  svg {
    max-width: 600px;
    overflow: visible;
    margin-top: 100vh;
  }
</style>
