---
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <body>
        <div class="hojde"></div>
        <div class="webfeature-container">
          <div class="scroll-aninamtioen-container simple">
            <div
              class="sticky-content-container sticky-element"
              style="height:100vh;"
            >
              <div class="svg-drawing">
                <svg
                  id="svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="311"
                  height="633"
                  viewBox="0 0 311 633"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M302.471 2C302.471 4.41119 301.926 4.95994 300.822 6.94771C299.17 9.9205 302.344 9.73744 302.471 11.8954C302.68 15.4436 301.002 22.5948 304.12 25.0893C305.277 26.0145 304.67 29.2111 304.67 30.5868C304.67 32.937 307.318 35.8858 306.808 37.6724C306.162 39.9343 301.542 39.6194 301.372 42.6812C301.233 45.1687 303.335 47.2789 304.914 49.0338C309.744 54.4001 302.759 67.608 306.319 74.0166C308.561 78.0514 305.692 83.9148 306.93 88.2489C307.952 91.8259 310.53 97.4258 308.579 101.443C305.241 108.316 301.28 114.377 298.073 121.356C295.934 126.011 294.146 132.617 290.254 136.077C283.985 141.65 273.748 142.829 266.738 147.683C261.55 151.274 251.555 154.65 245.298 154.829C229.665 155.276 214.118 156.241 198.508 156.967C184.663 157.611 171.478 157.028 157.888 157.028C152.915 157.028 148.623 154.829 143.595 154.829C141.656 154.829 141.224 157.827 139.746 159.227C137.394 161.456 135.195 162.526 132.05 162.526C129.988 162.526 126.01 163.305 124.415 161.976C121.614 159.642 128.016 158.215 129.851 158.128C131.621 158.043 136.845 160.335 133.027 161.426C128.783 162.639 124.65 162.148 120.383 163.075C112.994 164.682 111.593 159.227 105.112 159.227C99.5305 159.227 94.4015 158.418 89.1699 158.128C79.3237 157.581 69.0422 157.028 58.8728 157.028C48.7709 157.028 40.726 157.917 31.9963 162.281C28.4358 164.062 24.774 163.938 21.0014 165.824C17.8336 167.408 13.7433 172.046 13.2439 175.292C11.3695 187.476 13.305 198.851 13.305 210.659C13.305 216.733 11.1527 221.814 8.35729 226.846C5.21445 232.503 4.50908 239.728 4.50908 246.087C4.50908 249.554 2.20231 254.003 4.75341 256.838C6.25693 258.508 9.31638 262.088 9.94545 264.29C11.579 270.007 7.8523 272.659 3.95933 275.773C1.71658 277.567 4.50908 284.357 4.50908 286.768C4.50908 295.962 3.6259 305.169 6.70806 313.645C10.5902 324.32 11.106 336.786 11.106 348.095C11.106 359.032 17.703 366.332 17.703 376.987C17.703 380.594 14.5795 388.486 12.7553 391.769C11.7919 393.504 12.2055 395.883 12.2055 397.817C12.2055 399.251 12.2053 397.132 11.9612 396.717C11.2543 395.515 9.00213 395.328 7.80755 394.763C6.33997 394.067 3.13708 393.156 2.3101 391.708C0.511903 388.562 7.04052 389.562 8.90704 388.776C16.9475 385.391 18.9758 388.815 14.4656 397.084C12.5493 400.597 11.106 404.802 11.106 409.056C11.106 414.778 8.90704 419.061 8.90704 424.754C8.90704 430.96 8.94959 436.355 11.106 442.285C12.8943 447.203 12.0577 449.555 9.7622 453.891C6.37201 460.294 13.1362 460.742 13.305 465.13C13.4933 470.025 15.504 473.62 15.504 478.629C15.504 481.566 18.3406 488.315 15.9926 490.663C13.1 493.555 5.63737 492.836 10.2509 496.526C12.357 498.211 12.2055 498.372 12.2055 501.719C12.2055 504.061 14.009 504.248 15.2597 505.811C16.5188 507.385 14.4344 508.987 16.0537 508.987C18.1667 508.987 19.0063 513.394 18.7414 514.851C17.5279 521.525 10.7381 521.049 15.4429 528.106C18.6201 532.872 17.703 537.831 17.703 544.049C17.703 549.981 18.8025 555.392 18.8025 561.396C18.8025 563.673 19.1911 567.707 17.1532 569.337C14.6631 571.329 18.337 574.664 18.7414 576.484C19.2917 578.96 23.9615 587.925 19.3522 584.852C17.3047 583.487 17.703 598.558 17.703 601.222C17.703 611.245 16.6035 621.087 16.6035 630.909"
                    stroke="#FF5000"
                    stroke-width="3"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="scroll-content-container">
              <div class="slide-text-content placering">
                <p>Maliks Udfordringer</p>
              </div>
            </div>
            <div class="trigger top-trigger"></div>
            <div class="trigger bottom-trigger"></div>
          </div>
        </div>

        <!----------------------------------------------------------------------------------------->
        <div class="webfeature-container">
          <div class="scroll-aninamtioen-container simple">
            <div
              class="sticky-content-container sticky-element"
              style="height:100vh;"
            >
              <div class="svg-drawing">
                <svg
                  id="svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="311"
                  height="633"
                  viewBox="0 0 311 633"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M302.471 2C302.471 4.41119 301.926 4.95994 300.822 6.94771C299.17 9.9205 302.344 9.73744 302.471 11.8954C302.68 15.4436 301.002 22.5948 304.12 25.0893C305.277 26.0145 304.67 29.2111 304.67 30.5868C304.67 32.937 307.318 35.8858 306.808"
                    stroke="#FF5000"
                    stroke-width="3"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="scroll-content-container">
              <div class="slide-text-content placering">
                <h2>En grønlandsk opvækst</h2>
                <p>
                  Malik, en 22-årig fra Nuuk i Grønland, har altid været tæt
                  forbundet med naturen. Opvokset i en naturglad familie, lærte
                  han tidligt at fiske af sin far. Som barn tilbragte han mange
                  timer med ham på fisketure og vandreture omkring Nuuk, hvilket
                  gav ham stor glæde og en livslang passion for naturen.
                </p>
                <Image
                  src={gl}
                  alt="Fluefisker paa Grønland"
                  class="galleryIMG"
                />
              </div>
            </div>
            <div class="trigger top-trigger"></div>
            <div class="trigger bottom-trigger"></div>
          </div>
          <!----------------------------------------------------------------------------------------->
          <div class="webfeature-container">
            <div class="scroll-aninamtioen-container simple">
              <div
                class="sticky-content-container sticky-element"
                style="height:100vh;"
              >
                <div class="svg-drawing">
                  <svg
                    id="svg"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M302.471 2C302.471 4.41119 301.926 4.95994 300.822 6.94771C299.17 9.9205 302.344 9.73744 302.471 11.8954C302.68 15.4436 301.002 22.5948 304.12 25.0893C305.277 26.0145 304.67 29.2111 304.67 30.5868C304.67 32.937 307.318 35.8858 306.808"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <p>Maliks Udfordringer</p>
                </div>
              </div>
              <div class="trigger top-trigger"></div>
              <div class="trigger bottom-trigger"></div>
            </div>
          </div>
        </div>
      </body>
    </main>
  </body>

  <script>
    import { gsap, ScrollTrigger, DrawSVGPlugin } from "gsap-trial/all";
    gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

    gsap.defaults({ ease: "none" });

    const lines = gsap.utils.toArray(".theline");
    lines.forEach((line) => {
      gsap.from(line, {
        drawSVG: 0,
        duration: 4,
        scrollTrigger: {
          trigger: line,
          start: "top top",
          end: "+=300",
          scrub: true,
        },
      });
    });

    //   const lines = gsap.utils.toArray(".theline");
    //   lines.forEach((line) => {
    //     gsap.from(line, {
    //       duration: 4,
    //       drawSVG: 0,
    //       scrollTrigger: {
    //         trigger: "#svg",
    //         start: "top top", // Start animationen, når linjen kommer ind i 80% af viewporten
    //         end: "bottom bottom", // Slut animationen, når linjen når 20% af viewporten
    //         scrub: true, // Animationen vil følge rullebevægelsen
    //       },
    //     });
    //   });
  </script>

  <style>
    .hojde {
      height: 300px;
    }

    .scroll-aninamtioen-container .sticky-content-container {
      position: absolute;
      width: 39vh;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 0;
    }
    .scroll-aninamtioen-container {
      min-height: 100vh;
      background-color: #000e38;
      position: relative;
      font-size: 16px;
    }

    /* The line er kun for GSAP */
    .theline {
      max-width: 100%;
    }

    /* SVG */
    .svg-drawing {
      position: relative;
      pointer-events: none;
      left: 50%;
      transform: translate(-50%, 0%);
      height: 100%;
    }
    svg {
      position: relative;
      display: block;
      width: auto;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    /* ------------ */
  </style>
</html>
